@rendermode InteractiveAuto
@using PersonalDeskThing.App.Client.Components.MusicPlayerComponents
@if (playbackState == null || playbackState.CurrentSong == null)
{
    <h4>No song is playing</h4>
    return;
}

<MudContainer>
    <MudGrid Justify="Justify.Center">
        <MudItem md="12" xl="12" xxl="12">
            <MudPaper Class="align-center justify-center">
                <MudGrid Justify="Justify.Center" Class="align-center justify-center mud-width-full">
                    <MudItem md="6" Class="d-flex align-center justify-center mud-width-full">
                        <AlbumCover ImageUrl="@playbackState.CurrentSong.ImageUrl" />
                    </MudItem>
                    <MudItem xs="12" sm="8" md="6" xl="6" Class="my-3">
                        <SongInfo PlayingSong="@playbackState.CurrentSong" />
                        <Controls Player="@Player" PlaybackState="@playbackState" />
                    </MudItem>
                </MudGrid>
                <NextSongPopover Player="@Player" PlayingSong="@playbackState?.CurrentSong" />
            </MudPaper>
            <ProgressBar Song="@playbackState.CurrentSong" OnSongFinished="updateData" />
        </MudItem>
    </MudGrid>
</MudContainer>


@code {
    [Parameter]
    public required IMusicPlayer Player { get; set; }
    PlaybackState? playbackState;
    static System.Timers.Timer _refreshDataTimer = null!;
    

    protected override async Task OnInitializedAsync()
    {
        await updateData();

        _refreshDataTimer = new System.Timers.Timer(10000);
        _refreshDataTimer.Elapsed += async (sender, e) => await updateData();
        _refreshDataTimer.Enabled = true;

        Player.OnSongUpdated += async(sender,e) => await updateData();
    }
    
    async Task updateData()
    {
        var newState = await Player.GetCurrentPlaybackState();

        if (newState == null)
        {
            return;
        }

        playbackState = newState;

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    
    public void Dispose()
    {
        _refreshDataTimer?.Dispose();
    }
}
